.login-page, .register-page{
    background-image: url("/statics/images/login-background.jpg");
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center;
}