<!DOCTYPE html>
<html>
<head>
  <title>比赛</title>
  <#include "/header.html" />
    </head>
<body>
<div id="rrapp" v-cloak>
  <div v-show="showList">
    <div class="grid-btn">
      <#if shiro.hasPermission("race:race:save")>
        <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
      </#if>
      <#if shiro.hasPermission("race:race:update")>
        <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
      </#if>
      <#if shiro.hasPermission("race:race:delete")>
        <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
      </#if>
    </div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
  </div>

  <div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal" id="itemForm">
      <div class="form-group">
        <label class="col-sm-2 control-label">比赛名称</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" v-model="race.name" name="name" placeholder="比赛名称"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">比赛类型</label>
        <div class="col-sm-10">
          <select name="category" v-model="race.category" class="form-control">
            <option v-for="category in categories" v-bind:value="category.id">{{category.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">开始时间</div>
        <div class='input-group date col-sm-10'>
          <input type='text' v-model="race.startTime" id="startTime" onclick="renderDatePicker(this)" class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">结束时间</div>
        <div class='input-group date col-sm-10'>
          <input type='text' v-model="race.endTime" id="endTime" class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">活动地点</div>
        <div class="col-sm-10">
          <input type="text" class="form-control" v-model="race.place" name="place" placeholder="活动地点"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label" for="detailArea">活动详情</div>
        <div class="col-sm-10">
          <textarea class="form-control" v-model="race.details" name="details" id="detailArea" placeholder="活动详情"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label"></div>
        <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
        &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
      </div>
    </form>
  </div>
</div>

<script src="${request.contextPath}/statics/plugins/tinymce/tinymce.min.js"></script>
<script src="${request.contextPath}/statics/js/modules/race/race.js?_${.now?long}"></script>
</body>
</html>