<!DOCTYPE html>
<html>
<head>
<title></title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<#if shiro.hasPermission("round:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("round:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("round:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">主场</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="round.hostId" placeholder="主场"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">客场</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="round.guestId" placeholder="客场"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">主场得分</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="round.hostPoint" placeholder="主场得分"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">客场得分</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="round.guestPoint" placeholder="客场得分"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">场次</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="round.competitionId" placeholder="场次"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">小局顺序</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="round.order" placeholder="小局顺序"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/generator/round.js?_${.now?long}"></script>
</body>
</html>